/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
/* generic styles for the page */
body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
}
h1,h2,h3
{
    margin: 0;
}

a {
    color: var(--magenta);
}

a:hover {
    color: var(--hotmag);
    text-decoration: none;
}

#intro
{
    padding: 4rem 1rem 10rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

#intro p
{
    font-size: 1rem;
    line-height: 1.5;
}
#intro .name
{
    font-family: var(--mono);
}
.name span
{
    font-family: var(--sans);
    font-size: 4rem;
    display: block;
    color: var(--aqua);
}
#intro h2
{
    font-size: 4rem;
    font-weight: normal;
}
.section-plum
{
    background-color: var(--plum);
}

.gradient
{
    background: linear-gradient(90deg, rgba(255,23,228,1) 0%, rgba(134,251,251,1) 100%);
    height: 2px;
}
#contact
{
    width: 400px;
    padding: 3rem 0;
    text-align: center;
    margin: 0 auto;
}
#contact h2
{
    font-size: 2rem;
    padding-top: 4rem;

}
#contact p:last-child
{
    margin-top: 3rem;
}

nav
{
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
}

nav h1 a
{
    font-family: var(--sans);
}

nav ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child
{
    flex-basis: 100%;
    text-align: center;

}

nav [class*="fa-"]
{
    font-size: 150%;
    color: var(--aqua);

}
nav h1 [class*="fa-"]
{
    font-size: 100%;
    color: var(--aqua);

}

nav a
{
    color: var(--white);
    text-decoration: none;
    display: block;
}
nav a:hover
{
    color:var(--magenta);
}
nav [class*="fa-"]:hover
{
    color: var(--magenta);
}

.button
{
    background-color: var(--magenta);
    padding: 0.5rem;
    border-radius: 5px;
    font-family: var(--mono);
    text-decoration: none;
    color: var(--white);
}

.button:hover
{
    color: var(--white);
    background-color: var(--hotmag);
}

@media (min-width: 850px)
{
    nav
    {
        max-width: 1200px;
        margin: 0 auto;
    }
    nav li:first-child
    {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}

footer
{
    text-align: center;
    padding: 4rem 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: wrap row;
    gap: 3rem;
    justify-content: center;
    font-size: 3rem;
}


